In [3]:

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report

In [4]:
#Cargar el dataset
df_data = pd.read_csv(r'./datos/meteo.csv')
df_data[:10]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0.0,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,0.0,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0.0,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,1.4,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,0.0,No

In [5]:
#Contar Valores Nulos
df_data.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [6]:

print(type(df_data))
#el keys da los nombre de las columnas
print(df_data.keys())

<class 'pandas.core.frame.DataFrame'>
Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [7]:
#vemos los datos del risk_mm para ver la cantidad que llovio
#print(df['RISK_MM'])

In [7]:
#Eliminamos los siguientes datos ya que 
df_data = df.drop(['Evaporation','Sunshine','Cloud9am','Cloud3pm','Date','Location'], 1)
df_data.head()

NameError: name 'df' is not defined

In [2]:
#Verificar que efectivamente se eliminaron
print(df_data.keys())
df_data.isnull().sum()

NameError: name 'df_data' is not defined

In [13]:
#Para las variables nulas que nos quedan, relleno los datos con el promedio de los demas
print(df_data.mean())
#df_data.info()

MinTemp            12.186400
MaxTemp            23.226784
Rainfall            2.349974
Evaporation         5.469824
Sunshine            7.624853
WindGustSpeed      39.984292
WindSpeed9am       14.001988
WindSpeed3pm       18.637576
Humidity3pm        51.482606
Pressure9am      1017.653758
Pressure3pm      1015.258204
Cloud9am            4.437189
Cloud3pm            4.503167
Temp9am            16.987509
Temp3pm            21.687235
RISK_MM             2.360682
dtype: float64

In [14]:
df_data['MinTemp'].fillna(12.186400,inplace=True)
df_data['MaxTemp'].fillna(23.226784,inplace=True)
df_data['Rainfall'].fillna(2.349974,inplace=True)
df_data['WindGustSpeed'].fillna(39.984292,inplace=True)
df_data['WindSpeed9am'].fillna(14.001988,inplace=True)
df_data['WindSpeed3pm'].fillna(18.637576,inplace=True)
df_data['Humidity3pm'].fillna(51.482606,inplace=True)
df_data['Pressure9am'].fillna(1017.653758,inplace=True)
df_data['Pressure3pm'].fillna(1015.258204,inplace=True)
df_data['Temp9am'].fillna(16.987509,inplace=True)
df_data['Temp3pm'].fillna(21.687235,inplace=True)
df_data['RISK_MM'].fillna(2.360682,inplace=True)

In [1]:
#Comprobar si hay valores faltantes llamando al mÃ©todo isnull(), y el mÃ©todo sum() fuera de Ã©l, 
#para devolver un recuento de todos los valores Verdaderos que son devueltos por el mÃ©todo isnull().
df_data.isnull().sum()
#df_data.info()

NameError: name 'df_data' is not defined

In [16]:

df_data = df_data.drop(['WindGustDir','WindDir9am','WindDir3pm','Humidity9am','RainToday'], 1)
df_data.head()

KeyError: "['WindGustDir' 'WindDir9am' 'WindDir3pm' 'Humidity9am' 'RainToday'] not found in axis"

In [ ]:
df_data.isnull().sum()

In [ ]:
df_data_entrenar = df_data;

In [ ]:
df_data['RainTomorrow'] = df_data['RainTomorrow'].map({'Yes': 1, 'No': 0})

In [ ]:
df_data.isnull().sum()

In [ ]:
X = df_data.iloc[0:len(df_data),0:11]
#Variable a predecir
y = df_data.iloc[0:len(df_data),12]

In [ ]:
#Entrenamiento
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state=25)
print(X_test)
print(y_train)

In [ ]:
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

In [ ]:
print("coeficientes del modelo: "+str(LogReg.coef_))
print("intercept: "+str(LogReg.intercept_))

In [ ]:
#Predicciones
y_pred = LogReg.predict(X_test)
y_pred

In [52]:
#EvaluaciÃ³n del rendimiento del clasificador
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix

array([[31504,  1644],
       [ 5272,  4238]], dtype=int64)

In [53]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.95      0.90     33148
           1       0.72      0.45      0.55      9510

   micro avg       0.84      0.84      0.84     42658
   macro avg       0.79      0.70      0.73     42658
weighted avg       0.83      0.84      0.82     42658